<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Griot AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_Griot_AI.png') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo_Griot_AI.png') }}" alt="Griot AI Logo">
        </div>
        <div class="form-group">
            <label for="input-text">Enter text to translate:</label>
            <textarea id="input-text" placeholder="Enter text..." rows="6"></textarea>
        </div>
        <div class="form-group">
            <button id="translate-button" onclick='trans_late()'>Translate</button>
        </div>
        <div class="form-group">
            <label for="output-text">Translated text:</label>
            <textarea id="output-text" placeholder="Translation..." rows="6" readonly></textarea>
        </div>
        <div class="form-group">
            <button id="reverse-translate-button" onclick="reverseTranslate()">Reverse Translate</button>
        </div>
        <div class="translation-result" id="translation-result"></div>
    </div>

</body>
</html>
